@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.box {
  width: 250px;
  height: 250px;
  background-color: #e0e0e0;
  border-radius: 100%;
}

.pulse {
  animation: pulse 2s infinite;
}
